# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Prometheos TP-Link exporter
version: "1.0.0"
slug: prometheos-tplink-exporter
description: "Prometheos exporter for TP-Link smart devices"
url: "https://github.com/home-assistant/addons-example/tree/main/example"
arch:
  - aarch64
  - amd64
init: false
map:
  - share:rw
options:
  message: "Hello world..."
schema:
  message: "str?"
image: "ghcr.io/home-assistant/{arch}-addon-example"
